spring:
  application:
    name: ecommerce
  datasource:
    url: jdbc:postgresql://localhost:5432/shop?currentSchema=public&TimeZone=Asia/Seoul
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 1234

jackson:
  time-zone: Asia/Seoul
jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  properties:
    hibernate:
      format-sql: true
      jdbc:
        time_zone: Asia/Seoul

api:
  v1: v1